---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

{# <img alt="trade-offs everywhere toy story meme" loading="lazy" decoding="async" src="https://i.imgflip.com/8gjk0y.jpg"> #}

Hello world!
